{% load static %}

<html lang='ja'>
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div id="wrapper">
            <ul>
                <li>
                    <a href="{% url 'diary:index' %}">PRIVATE DIARY</a>
                </li>
                <li>
                    <a href="{% url 'diary:inquiry' %}">INQUIRY</a>
                </li>
                {% comment %} <a href="#">SIGN UP</a> {% endcomment %}
                {% comment %} <a href="#">LOG IN</a> {% endcomment %}
            
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'diary:diary_list' %}">DIARY LIST</a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                    <li>
                        <a href="{% url 'account_login' %}">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>


        {% block header %}{% endblock %}

        {% if messages %}
            <div class="container">
                <div class="row">
                    <div class="my-div-dtyle w-100">
                        <ul class="messages" style="list-style: none;">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        {% block contents %}{% endblock %}

    </body>
<html>

