{% load static %}

<html lang='ja'>
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div id="wrapper">
            <a href="{% url 'diary:index' %}">PRIVATE DIARY</a>
            <a href="{% url 'diary:inquiry' %}">INQUIRY</a>
            <a href="#">SIGN UP</a>
            <a href="#">LOG IN</a>
        </div>

        {% block header %}{% endblock %}

        {% if messages %}
            <div class="container">
                <div class="row">
                    <div class="my-div-dtyle w-100">
                        <ul class="messages" style="list-style: none;">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        {% block contents %}{% endblock %}
    </body>
<html>

